.blue{

background-color: #2469d9;
border: none;
color: white;
 margin-right: 10px ;


}


#red{

font-size: 18px;

}


.slider_four_area .single_slider.slider_one {
	background: url(https://media.istockphoto.com/id/1397817135/pt/foto/studio-shot-of-a-beautiful-young-woman-showing-off-her-long-brown-hair.jpg?s=2048x2048&w=is&k=20&c=sGTxHonY6vRm0ToBVtWObBr9ffkIDwso_Vp8uo6fU6Q=);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}
.slider_four_area .single_slider.slider_two {
	background: url(https://media.istockphoto.com/id/1490373861/pt/foto/natural-beauty.jpg?s=2048x2048&w=is&k=20&c=iPMgtuNlKQq09hv6mAUVrdH89D6J11Euo3TgR31SRa0=);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}


.not{

border: none;
border: 10px;

}

.floating-icon {
	background-color: #28a745;
	padding: 5px;
	border-radius: 30px;
	color: white;
    position: fixed;      /* Make the icon's position fixed to the viewport */
    bottom: 20px;         /* Position it 20px above the bottom edge */
    right: 20px;          /* Position it 20px from the right edge */
    width: 50px;          /* Set the icon's width (adjust as needed) */
    height: 50px;         /* Set the icon's height (adjust as needed) */
    z-index: 1000;        /* Ensure the icon stays on top of other elements */
}

.cart_area{

margin-left: 	10VW;

}
