.blue{

background-color: #2469d9;
border: none;
color: white;
 margin-right: 10px ;
 box-shadow: 2px 1px 1px 1px white;

}


#red{

font-size: 18px;

}


.slider_four_area .single_slider.slider_one {
	background: url(https://sportbuzz.uol.com.br/media/_versions/douglascosta_82934045_116411013185365_8270789263511275541_n_widexl.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}
.slider_four_area .single_slider.slider_two {
	background: url(https://sportbuzz.uol.com.br/media/_versions/douglascosta_82934045_116411013185365_8270789263511275541_n_widexl.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}


.not{

border: none;
border: 10px;

}

.floating-icon {
	background-color: #28a745;
	padding: 5px;
	border-radius: 30px;
	color: white;
    position: fixed;      /* Make the icon's position fixed to the viewport */
    bottom: 20px;         /* Position it 20px above the bottom edge */
    right: 20px;          /* Position it 20px from the right edge */
    width: 50px;          /* Set the icon's width (adjust as needed) */
    height: 50px;         /* Set the icon's height (adjust as needed) */
    z-index: 1000;        /* Ensure the icon stays on top of other elements */
}


